h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-word-container {
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.letter {
    padding: 20px;
    padding-bottom: 32px;
    margin: 10px;
    height: 15px;
    width: 20px;
    border-bottom: 1px solid black;
}

.alphabet-container {
    border-radius: 5px;
    border: 1px solid black;
    height: 75px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.incorrect-guesses {
    border-radius: 5px;
    border: 1px solid black;
    height: 75px;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 30px;
}

.incorrect-guess-label {
    font-size: 20px;
}

.incorrect-letter {
    padding: 10px;
}

.alphabet-letter {
    padding: 5px;
    font-size: 30px;
}

.remaining-guesses-container {
    font-size: 40px;
}

#remaining-guesses {
    text-align: center;
}

.hint-container {
    height: 100px;
    font-size: 30px;
    color: orange;
}

#last-guess {
    color: red;
    text-align: center;
    font-size: 45px;
}