h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.hangman {
    width: 500px;
    height: 200px;
}

.current-word-container {
    height: 40px;
    display: flex;
    font-size: 40px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.letter {
    padding: 20px;
    padding-bottom: 32px;
    margin: 10px;
    height: 15px;
    width: 20px;
    border-bottom: 1px solid black;
    color: green;
}

.alphabet-container {
    border-radius: 5px;
    border: 1px solid black;
    height: 100px;
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.incorrect-guesses {
    border-radius: 5px;
    height: 75px;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
}

.incorrect-guess-label {
    font-size: 20px;
}

.incorrect-letter {
    padding: 10px;
}

.alphabet-letter {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    border-radius: 5px;
}

.alphabet-letter:hover {
    background-color: green;
    color: white;
    transition: .2s;
}

.remaining-guesses-container {
    font-size: 40px;
}

#remaining-guesses {
    text-align: center;
}

.hint-container {
    /* height: 100px; */
    font-size: 30px;
    color: darkorange;
}

.hint-given {
    font-size: 20px;
}

#last-guess {
    color: red;
    text-align: center;
}

.reset-btn {
        background: green;
        background-image: -webkit-linear-gradient(top, green, darkgreen);
        background-image: -moz-linear-gradient(top, green, darkgreen);
        background-image: -ms-linear-gradient(top, green, darkgreen);
        background-image: -o-linear-gradient(top, green, darkgreen);
        background-image: linear-gradient(to bottom, green, darkgreen);
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
}

.reset-btn:hover {
    background: darkgreen;
    text-decoration: none;
}
